<!DOCTYPE HTML>
<html>
<head>
  <title>El Chat</title>
  <link rel='shortcut icon' href='/static/favicon.ico' />
  <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'>
</head>
<body>
  <div class='container'>
    <nav id='nav' class='navbar navbar-default' role='navigation'></nav>
    <div id='app' class='row'>
      <div class='col-md-9 col-md-push-3'>
        <div id='main'></div>
        <div id='bottom'></div>
      </div>
      <aside id='sidebar' class='col-md-3 col-md-pull-9'>
      </aside>
    </div>
  </div>

  <script id='nav-template' type='text/html'>
    <div class='navbar-header'>
      <span class='navbar-brand'>El Chat</span>
    </div>
    <ul id='nav-items' class='nav navbar-nav'></ul>
  </script>

  <script id='nav-item-template' type='text/html'>
    <a href='#<%= model.get('path') %>'><%= model.get('name') %></a>
  </script>

  <script id='messages-template' type='text/html'>
    <div class='panel-heading'>Messages</div>
    <div id='messages' class='panel-body'></div>
  </script>

  <script id='message-template' type='text/html'>
    <div class='nick col-md-3'><%= model.get('nick') %></div>
    <div class='body col-md-6'><%= model.get('body') %></div>
  </script>

  <script id='reply-template' type='text/html'>
    <div class='panel-body row'>
      <div class='col-md-3'>
        <div class='input-group'>
          <span class='input-group-addon'>@</span>
          <input type='text' class='form-control nick' placeholder='Your Nick'>
        </div>
      </div>
      <div class='col-md-9'>
        <div class='input-group'>
          <input type='text' class='form-control body'>
          <span class='input-group-btn'>
            <button class='btn btn-primary' type='button'>Send</button>
          </span>
        </div>
      </div>
    </div>
  </script>

  <script id='users-template' type='text/html'>
    <div class='panel-heading'>Users</div>
    <ul id='users' class='list-group'></ul>
  </script>

  <script id='user-template' type='text/html'>
    <span class='nick'><%= model.get('nick') %></span>
  </script>

  <script src='/static/vendor/js/requirejs/require.js' data-main='/static/js/main.js'></script>
</body>
</html>
